<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Overview</th>
        <th>Budget</th>
        <th>ReleaseDay</th>
        <th>AverageRating</th>
        <th>TagLine</th>
        <th>BoxOffice</th>
        <th>Poster</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td> {{ movie.id }} </td>
        <td> {{ movie.title }} </td>
        <td> {{ 
                (movie.overview.length < 200) ?
                (movie.overview):
                (movie.overview | slice: 0: 200) + "..." }} </td>
        <td> {{ movie.budget }} </td>
        <td> {{ movie.releaseDate }} </td>
        <td> {{ movie.averageVote }} </td>
        <td> {{ movie.releaseDate }} </td>
        <td> {{ movie.revenue | currency:'CHN' }} </td>
        <td> <img [src]="movie.backdropUrl" class="img-fluid thumbnail" alt=""> </td>
      </tr>
    </tbody>
  </table>
</div>